flows.json
[{"id":"44df2415.66f17c","type":"tab","label":"Example Flow","disabled":false,"info":""},{"id":"de82aa1.9b07b58","type":"function","z":"44df2415.66f17c","name":"Set Template data","func":"//const sampleThread = {\"mailthread\":{\"ThreadId\":\"1879054605\",\"MailId\":\"1879054605\",\"ApprovalStatus\":\"Approved\",\"Attachments\":\"\",\"Attribute1\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"PRIMARY_ATTRIBUTE\"},\"Attribute2\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"SECONDARY_ATTRIBUTE\"},\"Attribute3\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"THIRD_ATTRIBUTE\"},\"Attribute4\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"FOURTH_ATTRIBUTE\"},\"MailData\":\"<!DOCTYPE html PUBLIC \\\"-//W3C//DTD XHTML 1.0 Transitional//EN\\\" \\\"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\\\">\\n<html>\\n\\t<head>\\n\\t\\t<meta HTTP-EQUIV=\\\"Content-Type\\\" CONTENT=\\\"text/html; charset=utf-8\\\" /><title>\\n\\t\\t</title>\\n\\t\\t<style type=\\\"text/css\\\">\\n\\t\\t\\t.cs95E872D0{text-align:left;text-indent:0pt;margin:0pt 0pt 0pt 0pt}\\n\\t\\t\\t.csAED4B1C7{color:#000000;background-color:transparent;font-family:Verdana; font-size:10pt; font-weight:normal; font-style:normal; }\\n\\t\\t</style>\\n\\t</head>\\n\\t<body>\\n\\t\\t<span><p class=\\\"cs95E872D0\\\"><span class=\\\"csAED4B1C7\\\">&nbsp;</span></p></span></body>\\n</html>\\n\",\"ConfidentialFlag\":false,\"ProjectDetails\":{\"address1\":\"Level 1\",\"address2\":\"696 Bourke Street\",\"address3\":\"\",\"city\":\"Melbourne\",\"country\":\"Australia\",\"name\":\"API Demo\",\"state\":\"\"},\"CorrespondenceType\":\"Request For Information\",\"ToUsers\":{\"Recipient\":[{\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"Status\":\"Responded\",\"DistributionType\":\"TO\",\"FirstName\":\"Patrick\",\"Name\":\"Mr Patrick O'Leary\",\"UserId\":\"1879049107\",\"LastName\":\"O'Leary\"},{\"OrganizationId\":\"1879048240\",\"OrganizationName\":\"Aramist Consulting\",\"Status\":\"N/A\",\"DistributionType\":\"CC\",\"FirstName\":\"Daichi\",\"Name\":\"Mr Daichi Tomita\",\"UserId\":\"1879049364\",\"LastName\":\"Tomita\"}]},\"MailNo\":\"MAJ-RFI-000001\",\"Fax\":\"\",\"Footer\":\"\",\"FromUserDetails\":{\"LogoPath\":{\"href\":\"https://origin-apiprod.aconex.com/html/logos/aconex-stored/organization/0/2008-08-13-13-34-39-206.jpg\"},\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"FirstName\":\"Patrick\",\"Name\":\"Mr Patrick O'Leary\",\"UserId\":\"1879049107\",\"LastName\":\"O'Leary\"},\"InRefToMailId\":\"1879054605\",\"Notes\":\"\",\"ProjectId\":\"1879048428\",\"ReasonForIssue\":\"\",\"MailRegistrationDetails\":{\"IsRegistered\":\"true\"},\"ResponseRequired\":{\"ResponseRequiredDate\":\"2012-09-27T12:58:03.750Z\",\"ResponseRequiredMessage\":\"Revise and re-submit by\"},\"RichText\":\"true\",\"SentDate\":\"2012-09-11T07:33:04.973Z\",\"Status\":\"Responded\",\"Subject\":\"testing in API Demo instance - outlook plugin\",\"InRefTo\":\"1879054605\",\"Replies\":[{\"MailId\":\"1879054635\",\"ApprovalStatus\":\"Approved\",\"Attachments\":{\"MailAttachment\":[{\"MailId\":\"1879054623\",\"FromName\":\" Nate Harrison\",\"FromOrg\":\"Majestic Builders\",\"MailNo\":\"MAJ-CAN-000004\",\"SentDate\":\"2012-09-12T07:47:47.707Z\",\"Subject\":\"Re: Hello Nate\"},{\"MailId\":\"1879054624\",\"FromName\":\" Nate Harrison\",\"FromOrg\":\"Majestic Builders\",\"MailNo\":\"MAJ-CAN-000005\",\"SentDate\":\"2012-09-12T07:47:48.977Z\",\"Subject\":\"Sending Mail \"},{\"MailId\":\"1879054628\",\"FromName\":\" Bhaskara Laxminarayan\",\"FromOrg\":\"Majestic Builders\",\"MailNo\":\"MAJ-RFI-000005\",\"SentDate\":\"2012-09-13T05:52:09.327Z\",\"Subject\":\"testing Mail Registration\"},{\"MailId\":\"1879054630\",\"FromName\":\" Nate Harrison\",\"FromOrg\":\"Majestic Builders\",\"MailNo\":\"MAJ-RFI-000006\",\"SentDate\":\"2012-09-13T05:54:24.903Z\",\"Subject\":\"Re: Hello Nate\"},{\"MailId\":\"1879054634\",\"FromName\":\" Bhaskara Laxminarayan\",\"FromOrg\":\"Majestic Builders\",\"MailNo\":\"MAJ-RFI-000008\",\"SentDate\":\"2012-09-13T09:21:14.813Z\",\"Subject\":\"testing mail registration in outlook plugin\"}]},\"Attribute1\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"PRIMARY_ATTRIBUTE\"},\"Attribute2\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"SECONDARY_ATTRIBUTE\"},\"Attribute3\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"THIRD_ATTRIBUTE\"},\"Attribute4\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"FOURTH_ATTRIBUTE\"},\"MailData\":\"<p> <table style=\\\"width: 431.0pt;border-collapse: collapse;\\\" border=\\\"0\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" width=\\\"575\\\"> <colgroup> <col style=\\\"width: 30.0pt;\\\" width=\\\"40\\\" /> <col style=\\\"width: 71.0pt;\\\" width=\\\"95\\\" /> <col style=\\\"width: 330.0pt;\\\" width=\\\"440\\\" /> </colgroup><tbody> <tr style=\\\"height: 11.25pt;\\\" height=\\\"15\\\"> <td style=\\\"border: 0.5pt solid rgb(127,127,127);background-color: rgb(165,165,165);width: 431.0pt;height: 11.25pt;\\\" colspan=\\\"3\\\" height=\\\"15\\\" width=\\\"575\\\"><strong><font size=\\\"2\\\">Request For Information</font></strong></td></tr> <tr style=\\\"height: 11.25pt;\\\" height=\\\"15\\\"> <td style=\\\"border: 0.5pt solid rgb(127,127,127);background-color: silver;height: 11.25pt;\\\" colspan=\\\"3\\\" height=\\\"15\\\"><strong><font size=\\\"2\\\" color=\\\"#000066\\\">Details</font></strong></td></tr> <tr style=\\\"height: 45.0pt;\\\" height=\\\"60\\\"> <td style=\\\"border: 0.5pt solid rgb(127,127,127);background-color: transparent;width: 431.0pt;height: 45.0pt;\\\" colspan=\\\"3\\\" height=\\\"60\\\" width=\\\"575\\\"><font size=\\\"2\\\"><br /></font></td></tr> <t...\",\"ConfidentialFlag\":false,\"ProjectDetails\":{\"address1\":\"Level 1\",\"address2\":\"696 Bourke Street\",\"address3\":\"\",\"city\":\"Melbourne\",\"country\":\"Australia\",\"name\":\"API Demo\",\"state\":\"\"},\"CorrespondenceType\":\"Request For Information\",\"ToUsers\":{\"Recipient\":[{\"OrganizationId\":\"1879048569\",\"OrganizationName\":\"Aconex\",\"Status\":\"Responded\",\"DistributionType\":\"TO\",\"FirstName\":\"Bhaskara\",\"Name\":\" Bhaskara Laxminarayan\",\"UserId\":\"1879049747\",\"LastName\":\"Laxminarayan\"},{\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"Status\":\"Responded\",\"DistributionType\":\"TO\",\"FirstName\":\"Bhaskara\",\"Name\":\" Bhaskara Laxminarayan\",\"UserId\":\"1879049757\",\"LastName\":\"Laxminarayan\"},{\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"Status\":\"Responded\",\"DistributionType\":\"TO\",\"FirstName\":\"Patrick\",\"Name\":\"Mr Patrick O'Leary\",\"UserId\":\"1879049107\",\"LastName\":\"O'Leary\"},{\"OrganizationId\":\"1879048240\",\"OrganizationName\":\"Aramist Consulting\",\"Status\":\"N/A\",\"DistributionType\":\"CC\",\"FirstName\":\"Daichi\",\"Name\":\"Mr Daichi Tomita\",\"UserId\":\"1879049364\",\"LastName\":\"Tomita\"}]},\"MailNo\":\"pluginmail01\",\"Fax\":\"61998316591\",\"Footer\":\"\",\"FromUserDetails\":{\"LogoPath\":{\"href\":\"https://origin-apiprod.aconex.com/html/logos/aconex-stored/organization/0/2008-08-13-13-34-39-206.jpg\"},\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"FirstName\":\"Patrick\",\"Name\":\"Mr Patrick O'Leary\",\"UserId\":\"1879049107\",\"LastName\":\"O'Leary\"},\"InRefToMailId\":\"1879054635\",\"Notes\":\"\",\"ProjectId\":\"1879048428\",\"ReasonForIssue\":\"\",\"MailRegistrationDetails\":{\"IsRegistered\":\"true\"},\"ResponseRequired\":{\"ResponseRequiredDate\":\"2012-09-20T14:00:00.000Z\",\"ResponseRequiredMessage\":\"Acknowledge by\"},\"RichText\":\"true\",\"SentDate\":\"2012-09-13T09:24:12.533Z\",\"Status\":\"Responded\",\"Subject\":\"Re: testing in API Demo instance - outlook plugin\",\"ThreadId\":\"1879054605\",\"InRefTo\":\"1879054635\",\"Replies\":[{\"MailId\":\"1879061589\",\"ApprovalStatus\":\"Don't Process\",\"Attachments\":\"\",\"Attribute1\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"PRIMARY_ATTRIBUTE\"},\"Attribute2\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"SECONDARY_ATTRIBUTE\"},\"Attribute3\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"THIRD_ATTRIBUTE\"},\"Attribute4\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"FOURTH_ATTRIBUTE\"},\"MailData\":\"<p>Hi,</p>\\n\\n<p> </p>\\n\\n<p>I feel that is is super important to test aconex Mail Services because they are super</p>\\n\\n<p> </p>\\n\\n<p>Donallllddddd Turnip</p>\\n\\n<table align=\\\"left\\\" border=\\\"1\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"border-width: medium;border-style: none;width: 360.0pt;border-collapse: collapse;\\\" width=\\\"480\\\">\\n\\t<tbody>\\n\\t\\t<tr style=\\\"HEIGHT: 38.5pt;\\\">\\n\\t\\t\\t<td style=\\\"border-width: medium 2.25pt medium medium;border-style: none solid none none;padding: 0.0cm 5.4pt;width: 126.0pt;height: 38.5pt;\\\" valign=\\\"top\\\" width=\\\"168\\\">\\n\\t\\t\\t<p style=\\\"\\\">Donallllddddd Turnip</p>\\n\\n\\t\\t\\t<p style=\\\"\\\"><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\">Senior Project Manager</span><b><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\"></span></b></p>\\n\\t\\t\\t</td>\\n\\t\\t\\t<td style=\\\"border-width: medium;border-style: none;padding: 0.0cm 5.4pt;width: 234.0pt;height: 38.5pt;\\\" width=\\\"312\\\">\\n\\t\\t\\t<p><b><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\">Majestic Builders </span></b></p>\\n\\n\\t\\t\\t<p><span style=\\\"FONT-STYLE: itali...\",\"ConfidentialFlag\":false,\"ProjectDetails\":{\"address1\":\"Level 1\",\"address2\":\"696 Bourke Street\",\"address3\":\"\",\"city\":\"Melbourne\",\"country\":\"Australia\",\"name\":\"API Demo\",\"state\":\"\"},\"CorrespondenceType\":\"Budget Enquiry\",\"ToUsers\":{\"Recipient\":{\"OrganizationId\":\"1879048569\",\"OrganizationName\":\"Aconex\",\"Status\":\"N/A\",\"DistributionType\":\"TO\",\"FirstName\":\"Bhaskara\",\"Name\":\" Bhaskara Laxminarayan\",\"UserId\":\"1879049747\",\"LastName\":\"Laxminarayan\"}},\"MailNo\":\"DRAFT-000015\",\"Fax\":\"61998316591\",\"Footer\":\"\",\"FromUserDetails\":{\"LogoPath\":{\"href\":\"https://origin-apiprod.aconex.com/html/logos/aconex-stored/organization/0/2008-08-13-13-34-39-206.jpg\"},\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"FirstName\":\"Patrick\",\"Name\":\"Mr Patrick O'Leary\",\"UserId\":\"1879049107\",\"LastName\":\"O'Leary\"},\"InRefToMailId\":\"1879054638\",\"Notes\":\"\",\"ProjectId\":\"1879048428\",\"ReasonForIssue\":\"\",\"MailRegistrationDetails\":{\"IsRegistered\":\"true\"},\"ResponseRequired\":\"\",\"RichText\":\"true\",\"SentDate\":\"2019-10-15T01:51:52.307Z\",\"Status\":\"N/A\",\"Subject\":\"Ultimate Testing in API Demo\",\"ThreadId\":\"1879054605\",\"InRefTo\":\"1879054638\",\"ReplyType\":\"REPLY\"},{\"MailId\":\"1879054660\",\"ApprovalStatus\":\"Approved\",\"Attachments\":{\"LocalFileAttachment\":[{\"attachmentId\":\"1879095706\",\"FileSize\":\"52939\",\"FileName\":\"No_project_message.png\"},{\"attachmentId\":\"1879095707\",\"FileSize\":\"23637\",\"FileName\":\"compilation-overview.png\"}],\"MailAttachment\":[{\"MailId\":\"1879054623\",\"FromName\":\" Nate Harrison\",\"FromOrg\":\"Majestic Builders\",\"MailNo\":\"MAJ-CAN-000004\",\"SentDate\":\"2012-09-12T07:47:47.707Z\",\"Subject\":\"Re: Hello Nate\"},{\"MailId\":\"1879054624\",\"FromName\":\" Nate Harrison\",\"FromOrg\":\"Majestic Builders\",\"MailNo\":\"MAJ-CAN-000005\",\"SentDate\":\"2012-09-12T07:47:48.977Z\",\"Subject\":\"Sending Mail \"},{\"MailId\":\"1879054628\",\"FromName\":\" Bhaskara Laxminarayan\",\"FromOrg\":\"Majestic Builders\",\"MailNo\":\"MAJ-RFI-000005\",\"SentDate\":\"2012-09-13T05:52:09.327Z\",\"Subject\":\"testing Mail Registration\"},{\"MailId\":\"1879054630\",\"FromName\":\" Nate Harrison\",\"FromOrg\":\"Majestic Builders\",\"MailNo\":\"MAJ-RFI-000006\",\"SentDate\":\"2012-09-13T05:54:24.903Z\",\"Subject\":\"Re: Hello Nate\"},{\"MailId\":\"1879054634\",\"FromName\":\" Bhaskara Laxminarayan\",\"FromOrg\":\"Majestic Builders\",\"MailNo\":\"MAJ-RFI-000008\",\"SentDate\":\"2012-09-13T09:21:14.813Z\",\"Subject\":\"testing mail registration in outlook plugin\"}]},\"Attribute1\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"PRIMARY_ATTRIBUTE\"},\"Attribute2\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"SECONDARY_ATTRIBUTE\"},\"Attribute3\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"THIRD_ATTRIBUTE\"},\"Attribute4\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"FOURTH_ATTRIBUTE\"},\"MailData\":\"<div><br></div>\\r\\n<div><br><br><br></div>\\r\\n<div align=\\\"left\\\">\\r\\n    <hr>\\r\\n    <font size=\\\"1\\\" face=\\\"Tahoma\\\">\\r\\n    <b>From:</b> P O'Leary<br>\\r\\n    <b>Sent:</b> 13/09/2012 7:24:12 PM EST (GMT +10:00)<br>\\r\\n    <b>To:</b> Bhaskara Laxminarayan, Bhaskara Laxminarayan, Patrick O'Leary<br>\\r\\n    <b>Cc:</b> Daichi Tomita<br>\\r\\n    <b>Mail Number:</b> pluginmail01<br>\\r\\n    <b>Subject:</b> Re: testing in API Demo instance - outlook plugin\\r\\n    <br><br><br>\\r\\n    </font>\\r\\n</div>\\r\\n\\r\\n<p> <table style=\\\"width: 431pt; border-collapse: collapse;\\\" border=\\\"0\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" width=\\\"575\\\"> <colgroup> <col style=\\\"width: 30pt;\\\" width=\\\"40\\\"> <col style=\\\"width: 71pt;\\\" width=\\\"95\\\"> <col style=\\\"width: 330pt;\\\" width=\\\"440\\\"> </colgroup><tbody> <tr style=\\\"height: 11.25pt;\\\" height=\\\"15\\\"> <td style=\\\"border: 0.5pt solid rgb(127, 127, 127); background-color: rgb(165, 165, 165); width: 431pt; height: 11.25pt;\\\" colspan=\\\"3\\\" height=\\\"15\\\" width=\\\"575\\\"><strong><font size=\\\"2\\\">Request For Information</font></strong></td></...\",\"ConfidentialFlag\":false,\"ProjectDetails\":{\"address1\":\"Level 1\",\"address2\":\"696 Bourke Street\",\"address3\":\"\",\"city\":\"Melbourne\",\"country\":\"Australia\",\"name\":\"API Demo\",\"state\":\"\"},\"CorrespondenceType\":\"Certificate of Completion\",\"ToUsers\":{\"Recipient\":[{\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"Status\":\"Overdue\",\"DistributionType\":\"TO\",\"FirstName\":\"Testuser\",\"Name\":\"Mr Testuser Testuser\",\"UserId\":\"1879049759\",\"LastName\":\"Testuser\"},{\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"Status\":\"Overdue\",\"DistributionType\":\"TO\",\"FirstName\":\"Test1\",\"Name\":\" Test1 User\",\"UserId\":\"1879049754\",\"LastName\":\"User\"},{\"OrganizationId\":\"1879048617\",\"OrganizationName\":\"TEST US\",\"Status\":\"Overdue\",\"DistributionType\":\"TO\",\"FirstName\":\"Test1\",\"Name\":\" Test1 US\",\"UserId\":\"1879049741\",\"LastName\":\"US\"},{\"OrganizationId\":\"1879048617\",\"OrganizationName\":\"TEST US\",\"Status\":\"Overdue\",\"DistributionType\":\"TO\",\"FirstName\":\"Test2\",\"Name\":\" Test2 US\",\"UserId\":\"1879049739\",\"LastName\":\"US\"},{\"OrganizationId\":\"1879048618\",\"OrganizationName\":\"TEST USER\",\"Status\":\"Overdue\",\"DistributionType\":\"TO\",\"FirstName\":\"Test1\",\"Name\":\" Test1 User\",\"UserId\":\"1879049751\",\"LastName\":\"User\"},{\"OrganizationId\":\"1879048618\",\"OrganizationName\":\"TEST USER\",\"Status\":\"Overdue\",\"DistributionType\":\"TO\",\"FirstName\":\"Test2\",\"Name\":\" Test2 User\",\"UserId\":\"1879049752\",\"LastName\":\"User\"}]},\"MailNo\":\"MAJ-COC-000001\",\"Fax\":\"61998316591\",\"Footer\":\"\",\"FromUserDetails\":{\"LogoPath\":{\"href\":\"https://origin-apiprod.aconex.com/html/logos/aconex-stored/organization/0/2008-08-13-13-34-39-206.jpg\"},\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"FirstName\":\"Bhaskara\",\"Name\":\" Bhaskara Laxminarayan\",\"UserId\":\"1879049757\",\"LastName\":\"Laxminarayan\"},\"InRefToMailId\":\"1879054660\",\"Notes\":\"\",\"ProjectId\":\"1879048428\",\"ReasonForIssue\":\"\",\"MailRegistrationDetails\":{\"IsRegistered\":\"true\"},\"ResponseRequired\":{\"ResponseRequiredDate\":\"2012-09-20T14:00:00.000Z\",\"ResponseRequiredMessage\":\"Acknowledge by\"},\"RichText\":\"true\",\"SentDate\":\"2012-09-17T10:38:48.587Z\",\"Status\":\"Outstanding\",\"Subject\":\"Fwd: testing in API Demo instance - outlook plugin\",\"ThreadId\":\"1879054605\",\"InRefTo\":\"1879054660\",\"ReplyType\":\"FORWARD\"},{\"MailId\":\"1879054689\",\"ApprovalStatus\":\"Approved\",\"Attachments\":\"\",\"Attribute1\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"PRIMARY_ATTRIBUTE\"},\"Attribute2\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"SECONDARY_ATTRIBUTE\"},\"Attribute3\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"THIRD_ATTRIBUTE\"},\"Attribute4\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"FOURTH_ATTRIBUTE\"},\"MailData\":\"<!DOCTYPE html PUBLIC \\\"-//W3C//DTD XHTML 1.0 Transitional//EN\\\" \\\"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\\\">\\n<html>\\n\\t<head>\\n\\t\\t<meta HTTP-EQUIV=\\\"Content-Type\\\" CONTENT=\\\"text/html; charset=utf-8\\\" /><title>\\n\\t\\t</title>\\n\\t\\t<style type=\\\"text/css\\\">\\n\\t\\t\\t.cs95E872D0{text-align:left;text-indent:0pt;margin:0pt 0pt 0pt 0pt}\\n\\t\\t\\t.cs5EFED22F{color:#000000;background-color:transparent;font-family:Times New Roman; font-size:12pt; font-weight:normal; font-style:normal; }\\n\\t\\t\\t.cs2D2816FE{}\\n\\t\\t\\t.csCA9039AC{width:431pt;padding:0pt 0pt 0pt 0pt;background-color:#A5A5A5;border-top:1px #7F7F7F solid;border-right:1px #7F7F7F solid;border-bottom:1px #7F7F7F solid;border-left:1px #7F7F7F solid}\\n\\t\\t\\t.cs5AE30AD6{color:#000000;background-color:#A5A5A5;font-family:Times New Roman; font-size:10pt; font-weight:bold; font-style:normal; }\\n\\t\\t\\t.cs798299E8{padding:0pt 0pt 0pt 0pt;background-color:#C0C0C0;border-top:1px #7F7F7F solid;border-right:1px #7F7F7F solid;border-bottom:1px #7F7F7F solid;border-left:1px #7F7F7...\",\"ConfidentialFlag\":false,\"ProjectDetails\":{\"address1\":\"Level 1\",\"address2\":\"696 Bourke Street\",\"address3\":\"\",\"city\":\"Melbourne\",\"country\":\"Australia\",\"name\":\"API Demo\",\"state\":\"\"},\"CorrespondenceType\":\"Builder's Advice\",\"ToUsers\":{\"Recipient\":[{\"OrganizationId\":\"1879048569\",\"OrganizationName\":\"Aconex\",\"Status\":\"N/A\",\"DistributionType\":\"TO\",\"FirstName\":\"Belinda\",\"Name\":\" Belinda Dal Lago\",\"UserId\":\"1879049743\",\"LastName\":\"Dal Lago\"},{\"OrganizationId\":\"1879048569\",\"OrganizationName\":\"Aconex\",\"Status\":\"N/A\",\"DistributionType\":\"TO\",\"FirstName\":\"Nate\",\"Name\":\" Nate Harrison\",\"UserId\":\"1879049745\",\"LastName\":\"Harrison\"},{\"OrganizationId\":\"1879048569\",\"OrganizationName\":\"Aconex\",\"Status\":\"N/A\",\"DistributionType\":\"TO\",\"FirstName\":\"Bhaskara\",\"Name\":\" Bhaskara Laxminarayan\",\"UserId\":\"1879049747\",\"LastName\":\"Laxminarayan\"},{\"OrganizationId\":\"1879048240\",\"OrganizationName\":\"Aramist Consulting\",\"Status\":\"N/A\",\"DistributionType\":\"CC\",\"FirstName\":\"Daichi\",\"Name\":\"Mr Daichi Tomita\",\"UserId\":\"1879049364\",\"LastName\":\"Tomita\"}]},\"MailNo\":\"MAJ-BA-000004\",\"Fax\":\"\",\"Footer\":\"\",\"FromUserDetails\":{\"LogoPath\":{\"href\":\"https://origin-apiprod.aconex.com/html/logos/aconex-stored/organization/0/2008-08-13-13-34-39-206.jpg\"},\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"FirstName\":\"Patrick\",\"Name\":\"Mr Patrick O'Leary\",\"UserId\":\"1879049107\",\"LastName\":\"O'Leary\"},\"InRefToMailId\":\"1879054635\",\"Notes\":\"\",\"ProjectId\":\"1879048428\",\"ReasonForIssue\":\"\",\"MailRegistrationDetails\":{\"IsRegistered\":\"true\"},\"ResponseRequired\":\"\",\"RichText\":\"true\",\"SentDate\":\"2012-09-18T22:44:44.017Z\",\"Status\":\"N/A\",\"Subject\":\"RE: Re: testing in API Demo instance - outlook plugin\",\"ThreadId\":\"1879054605\",\"InRefTo\":\"1879054635\",\"ReplyType\":\"REPLY\"}],\"ReplyType\":\"REPLY\"},{\"MailId\":\"1879054666\",\"ApprovalStatus\":\"Approved\",\"Attachments\":\"\",\"Attribute1\":{\"AttributeTypeNames\":{\"AttributeTypeName\":[{},{}]},\"AttributeType\":\"PRIMARY_ATTRIBUTE\"},\"Attribute2\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"SECONDARY_ATTRIBUTE\"},\"Attribute3\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"THIRD_ATTRIBUTE\"},\"Attribute4\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"FOURTH_ATTRIBUTE\"},\"MailData\":\"<!DOCTYPE html PUBLIC \\\"-//W3C//DTD XHTML 1.0 Transitional//EN\\\" \\\"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\\\">\\n<html>\\n\\t<head>\\n\\t\\t<meta HTTP-EQUIV=\\\"Content-Type\\\" CONTENT=\\\"text/html; charset=utf-8\\\" /><title>\\n\\t\\t</title>\\n\\t\\t<style type=\\\"text/css\\\">\\n\\t\\t\\t.cs95E872D0{text-align:left;text-indent:0pt;margin:0pt 0pt 0pt 0pt}\\n\\t\\t\\t.cs5EFED22F{color:#000000;background-color:transparent;font-family:Times New Roman; font-size:12pt; font-weight:normal; font-style:normal; }\\n\\t\\t\\t.csAED4B1C7{color:#000000;background-color:transparent;font-family:Verdana; font-size:10pt; font-weight:normal; font-style:normal; }\\n\\t\\t</style>\\n\\t</head>\\n\\t<body>\\n\\t\\t<span><p class=\\\"cs95E872D0\\\"><span class=\\\"cs5EFED22F\\\">REPLYING TO RFI <br></span></p><p class=\\\"cs95E872D0\\\"><span class=\\\"cs5EFED22F\\\">-------Original Message-------</span></p><p class=\\\"cs95E872D0\\\"><span class=\\\"csAED4B1C7\\\">&nbsp;</span></p></span></body>\\n</html>\\n\",\"ConfidentialFlag\":false,\"ProjectDetails\":{\"address1\":\"Level 1\",\"address2\":\"696 Bourke Street\",\"address3\":\"\",\"city\":\"Melbourne\",\"country\":\"Australia\",\"name\":\"API Demo\",\"state\":\"\"},\"CorrespondenceType\":\"Builder's Advice\",\"ToUsers\":{\"Recipient\":{\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"Status\":\"N/A\",\"DistributionType\":\"TO\",\"FirstName\":\"Patrick\",\"Name\":\"Mr Patrick O'Leary\",\"UserId\":\"1879049107\",\"LastName\":\"O'Leary\"}},\"MailNo\":\"MAJ-BA-000002\",\"Fax\":\"\",\"Footer\":\"\",\"FromUserDetails\":{\"LogoPath\":{\"href\":\"https://origin-apiprod.aconex.com/html/logos/aconex-stored/organization/0/2008-08-13-13-34-39-206.jpg\"},\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"FirstName\":\"Patrick\",\"Name\":\"Mr Patrick O'Leary\",\"UserId\":\"1879049107\",\"LastName\":\"O'Leary\"},\"InRefToMailId\":\"1879054605\",\"Notes\":\"\",\"ProjectId\":\"1879048428\",\"ReasonForIssue\":\"\",\"MailRegistrationDetails\":{\"IsRegistered\":\"true\"},\"ResponseRequired\":\"\",\"RichText\":\"true\",\"SentDate\":\"2012-09-18T01:10:11.650Z\",\"Status\":\"N/A\",\"Subject\":\"RE: testing in API Demo instance - outlook plugin\",\"ThreadId\":\"1879054605\",\"InRefTo\":\"1879054605\",\"ReplyType\":\"REPLY\"},{\"MailId\":\"1879061583\",\"ApprovalStatus\":\"Approved\",\"Attachments\":\"\",\"Attribute1\":{\"AttributeTypeNames\":{\"AttributeTypeName\":\"Side\"},\"AttributeType\":\"PRIMARY_ATTRIBUTE\"},\"Attribute2\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"SECONDARY_ATTRIBUTE\"},\"Attribute3\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"THIRD_ATTRIBUTE\"},\"Attribute4\":{\"AttributeTypeNames\":\"\",\"AttributeType\":\"FOURTH_ATTRIBUTE\"},\"MailData\":\"<p> </p>\\n\\n<table align=\\\"left\\\" border=\\\"1\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"BORDER-BOTTOM: medium none;BORDER-LEFT: medium none;WIDTH: 360.0pt;BORDER-COLLAPSE: collapse;BORDER-TOP: medium none;BORDER-RIGHT: medium none;\\\" width=\\\"480\\\">\\n\\t<tbody>\\n\\t\\t<tr style=\\\"HEIGHT: 38.5pt;\\\">\\n\\t\\t\\t<td style=\\\"BORDER-BOTTOM: medium none;BORDER-LEFT: medium none;PADDING-BOTTOM: 0.0cm;PADDING-LEFT: 5.4pt;WIDTH: 126.0pt;PADDING-RIGHT: 5.4pt;HEIGHT: 38.5pt;BORDER-TOP: medium none;BORDER-RIGHT: 2.25pt solid;PADDING-TOP: 0.0cm;\\\" valign=\\\"top\\\" width=\\\"168\\\">\\n\\t\\t\\t<p style=\\\"\\\"><b><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\">Patrick O'Leary</span></b><b><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\"> </span></b></p>\\n\\n\\t\\t\\t<p style=\\\"\\\"><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\">Senior Project Manager</span><b><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\"></span></b></p>\\n\\t\\t\\t</td>\\n\\t\\t\\t<td style=\\\"BORDER-BOTTOM: medium none;BORDER-LEFT: medium none;PADDING-BOTTOM: 0.0cm;PADDING-LEFT: 5.4pt;WIDTH: 234.0...\",\"ConfidentialFlag\":false,\"ProjectDetails\":{\"address1\":\"Level 1\",\"address2\":\"696 Bourke Street\",\"address3\":\"\",\"city\":\"Melbourne\",\"country\":\"Australia\",\"name\":\"API Demo\",\"state\":\"\"},\"CorrespondenceType\":\"Purchaser Change Details\",\"ToUsers\":{\"Recipient\":{\"OrganizationId\":\"1879048492\",\"OrganizationName\":\"Majestic Builders\",\"Status\":\"N/A\",\"DistributionType\":\"TO\",\"FirstName\":\"Patrick\",\"Name\":\"Mr Patrick O'Leary\",\"UserId\":\"1879049107\",\"LastName\":\"O'Leary\"}},\"MailNo\":\"ACO-PCD-000001\",\"Fax\":\"61998316591\",\"Footer\":\"\",\"FromUserDetails\":{\"OrganizationId\":\"1879048569\",\"OrganizationName\":\"Aconex\",\"FirstName\":\"Belinda\",\"Name\":\" Belinda Dal Lago\",\"UserId\":\"1879049743\",\"LastName\":\"Dal Lago\"},\"InRefToMailId\":\"1879054605\",\"Notes\":\"\",\"ProjectId\":\"1879048428\",\"ReasonForIssue\":\"\",\"MailRegistrationDetails\":{\"IsRegistered\":\"true\",\"RegisteredByUserFullName\":\"Mr Patrick O'Leary\",\"RegisteredByUserId\":\"1879049107\"},\"ResponseRequired\":\"\",\"RichText\":\"true\",\"SentDate\":\"2019-08-14T10:25:42.290Z\",\"Status\":\"N/A\",\"Subject\":\"Re: testing in API Demo instance\",\"ThreadId\":\"1879054605\",\"InRefTo\":\"1879054605\",\"ReplyType\":\"REPLY\"}],\"ReplyType\":\"NEVER_RESPONDED\"}}\n\nconst sampleThread = msg.payload\n\nconst email = global.get('email2pdf')\n\n\n\n// Enter JS here to generate template Data\n\n// const templateData = \n\nmsg.payload = email.getThreadModel(sampleThread.mailthread);\nreturn msg","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["a01dc07.ce0e84"]]},{"id":"a01dc07.ce0e84","type":"template","z":"44df2415.66f17c","name":"Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n<html>\n<head>\n<style type=\"text/css\">\n    iframe {\n        width: 100%;\n        page-break-inside: auto !important;\n    }\n    .confidential {\n        width: calc(100% + 2rem);\n        position: relative;\n        left: -1rem;\n        top: -1rem;\n        background-color: #f99;\n        color: #000;\n        text-align: center;\n        vertical-align: middle;\n        height: 15px;\n        line-height: 15px;\n    }\n\n    .footer {\n        line-height: 10px;\n        font-size: 8px;\n        text-align: center;\n        padding-top: 10px;\n    }\n    html {\n        font-size: 5pt;\n        margin: 0;\n        font-family: Helvetica, Arial, sans-serif;\n    }\n    body {\n        margin: 0 10rem;\n\n    }\n\n    #index_section {\n    }\n\n\n#out {\n    position: relative;\n    margin-top: 33px;\n}\n\n    table {\n        border-collapse: collapse;\n        color: #aaa;\n        border: 1px solid #2e2f31;\n        width: 100%;\n    }\n\n    td,th {\n        font-size: 1rem;\n        padding: 0.75rem 0.5rem;\n    }\n\n    .person, .clip {\n        vertical-align: middle;\n    }\n    .clip {\n        margin-right: 5px;\n    }\n    tr {\n        border-top: 1px solid #2e2f31;\n        border-bottom: 1px solid #2e2f31;\n    }\n\n    th {\n        background-color: #1e1f21;\n        font-weight: normal;\n    }\n    .card {\n        background-color: #181a1b;\n        color: #aaa;\n        padding: 1rem;\n        overflow: hidden;\n        margin-bottom: 30px;\n    }\n\n#index_section .card {\n    overflow: hidden;\n    \n}\n\n    .metadata_header {\n        position: relative;\n        width: 100%;\n        overflow: hidden;\n    }\n    .metadata_header > div {\n        width: 33%;\n        float: left;\n        position: relative;\n        padding-bottom: 0.5rem;\n        border-bottom: 2px solid #2e2f31;\n    }\n\n    .meta_attr {\n        color: #999;\n        text-transform: uppercase;\n        font-size: 0.8rem;\n        margin-bottom: 0.25rem;\n    }\n\n    .section_header {\n        background-color: #1e1f21;\n        width: calc(100% + 0.5rem);\n        left: -1rem;\n        position: relative;\n        clear: both;\n        color: #999;\n        text-transform: uppercase;\n        font-size: 0.8rem;\n        padding: 0.75rem 0.75rem;\n        margin-bottom: 1rem;\n        margin-top: 1rem;\n    }\n\n    .subject {\n        font-size: 1.15rem;\n        line-height: 1.15rem;\n        border-bottom: 2px solid #2e2f31;\n        padding: 0.5rem 0;\n        position: relative;\n    }\n\n    .send_info {\n        margin-top: 1rem;\n    }\n    .send_info > div {\n        width: 100%;\n        clear: both;\n        margin-top: 0.5rem;\n        margin-bottom: 1rem;\n        overflow: hidden;\n    }\n\n    .send_info > div > .label {\n        width: 10rem;\n        overflow: hidden;\n        text-transform: capitalize;\n    }\n    .send_info > div > div {\n        float: left;\n    }\n</style>\n\n</head>\n<body>\n\n<!--<div id=\"page\" style=\"width: 2px; background-color: black; height: 22.06cm\"></div>-->\n<div id=\"page\" style=\"width: 2px; background-color: black; height: 28.5cm\"></div>\n\n<div id=\"index_section\" style=\"position: relative\">\n<h1>{{ messages.length }} Messages</h1>\n{{ #messages }}\n    <div style=\"width: calc(20px * {{ depth }}); height: calc(30px + 2rem); position: absolute;\">\n        {{ #repeatForDepth }}\n        <div style=\"display: inline-block; height: calc(60px + 2rem); z-index: -1; width: 0px; margin: 0 9px; background-color: #aaa; border-left: 1px solid black; top: calc(-45px - 1rem); position: relative;\"></div>\n        {{ /repeatForDepth }}\n    </div>\n\n    <div class=\"card\" style=\"height: 30px; overflow: visible; position: relative; margin-left: calc(20px * {{ depth }})\">\n    {{ #depth }}\n        <div style=\"position: absolute; height:0; width: 11px; border-bottom: 1px solid black; top: calc(15px + 1rem); left: calc(-1rem - 3px);\"></div>\n    {{ /depth }}\n\n        <table style=\"height:30px\">\n        <tr>\n        <td nowrap>\n            {{ #FromUserDetails }}\n            <div>{{ FirstName }} {{ LastName }} ({{ OrganizationName }})</div>\n            {{ /FromUserDetails }}\n            <div>{{ Subject }} ({{ CorrespondenceType }})</div>\n        </td>\n        <td nowrap>\n            {{ #AttachmentCount }}\n            {{.}}\n            <img width=10 height=10 class=\"clip\" />\n            {{ /AttachmentCount }}\n            {{ #Recipients.length }}\n            {{.}}\n            <img width=10 height=10 class=\"person\" />\n            {{ /Recipients.length }}\n        </td>\n        <td nowrap>\n            <div>{{ SentDate }}</div>\n            <div>{{ MailNo }}</div>\n        </td>\n        <td>\n            <div>{{ Status }}</div>\n            <div style=\"font-style: italic\">Page <span id=\"card_pagenum_{{ index }}\"></span></div>\n        </td>\n        <td>\n        </td>\n        </tr>\n        </table>\n    </div>\n{{ /messages }}\n\n</div>\n\n<div id=\"messages\">\n{{ #messages }}\n<div id=\"card_{{ index }}\" class=\"card\">\n{{ #ConfidentialFlag }}\n    <div class=\"confidential\">CONFIDENTIAL</div>\n{{ /ConfidentialFlag }}\n    <div class=\"metadata_header\">\n        <div>\n            <div class=\"meta_attr\">\n                Mail Type\n            </div>\n            <div>\n                {{ CorrespondenceType }}\n            </div>\n        </div>\n        <div>\n            <div class=\"meta_attr\">\n                Mail Number\n            </div>\n            <div>\n                {{ MailNo }}\n            </div>\n        </div>\n        <div>\n            <div class=\"meta_attr\">\n                Reference Number\n            </div>\n            <div>\n                {{ MailNo }}\n            </div>\n        </div>\n    </div>\n\n\n    <div class=\"subject\">\n        {{ Subject }}\n    </div>\n    <div class=\"send_info\">\n        <div>\n            <div class=\"label\">\n                From\n            </div>\n            <div class=\"value\">\n                {{ #FromUserDetails }}\n                {{ FirstName }} {{ LastName }} - {{ OrganizationName }}\n                {{ /FromUserDetails }}\n            </div>\n        </div>\n{{ #Recipients }}\n        <div>\n            <div class=\"label\">\n                {{ DistributionType }}\n            </div>\n            <div class=\"value\">\n                {{ FirstName }} {{ LastName }} - {{ OrganizationName }}\n            </div>\n        </div>\n{{ /Recipients }}\n        <div>\n            <div class=\"label\">\n                Sent\n            </div>\n            <div class=\"value\">\n                {{ SentDate }}\n            </div>\n        </div>\n        <div>\n            <div class=\"label\">\n                Status\n            </div>\n            <div class=\"value\">\n                {{ Status }}\n            </div>\n        </div>\n    </div>\n\n{{ #Attachments }}\n{{ #MailAttachment.length }}\n    <div class=\"section_header\">Mail Attachments:</div>\n    <table>\n        <tr>\n            <th>Mail Number</th>\n            <th>Subject</th>\n            <th>From</th>\n            <th>Sent</th>\n        </tr>\n{{ /MailAttachment.length }}\n{{ #MailAttachment }}\n        <tr>\n            <td>{{ MailNo }}</td>\n            <td>{{ Subject }}</td>\n            <td>{{ FromName }} - {{ FromOrg }}</td>\n            <td>{{ SentDate }}</td>\n        </tr>\n{{ /MailAttachment }}\n{{ #MailAttachment.length }}\n    </table>\n{{ /MailAttachment.length }}\n{{ #LocalFileAttachment.length }}\n    <div class=\"section_header\">File Attachments</div>\n    <table>\n            <tr>\n                <th>File Name</th>\n            </tr>\n\n{{ /LocalFileAttachment.length }}\n{{ #LocalFileAttachment }}\n            <tr>\n                <td>{{ FileName }}</td>\n            </tr>\n{{ /LocalFileAttachment }}\n{{ #LocalFileAttachment.length }}\n    </table>\n{{ /LocalFileAttachment.length }}\n{{ /Attachments }}\n    <div class=\"section_header\">Message</div>\n    <iframe id=\"iframe_{{ index }}\" srcdoc=\"{{ SanitizedData }}\" >afaffdfaff</iframe>\n    <div id=\"content_{{ index }}\">\n    afaffdfaff\n    </div>\n</div>\n{{ /messages }}\n</div>\n\n<div id=\"pageFooter\" class=\"footer\">Page {{=<% %>=}} {{page}} of {{pages}} <%={{ }}=%></div>\n<div id=\"pageHeader\" class=\"header\"></div>\n<script type=\"text/javascript\">\n\nfunction onLoad() {\n    const clip = \"{{{base}}}/Clip-01.svg\";\n    const person = \"{{{base}}}/Person-01.svg\";\n\n    const clipImages = document.getElementsByClassName('clip')\n    \n    for(var i = 0; i < clipImages.length; i++){ \n        clipImages[i].src = clip;\n    }\n\n    const personImages = document.getElementsByClassName('person')\n    \n    for(var i = 0; i < personImages.length; i++){ \n        personImages[i].src = person;\n    }\n\n\n    var pageElement = document.getElementById(\"page\");\n    var pageHeight = pageElement.clientHeight - 20 - 20;\n    pageElement.remove();\n    var messagesHeight = document.getElementById(\"messages\").clientHeight;\n\n    var indexSection = document.getElementById(\"index_section\");\n    var extraMargin = (pageHeight - (indexSection.clientHeight % pageHeight))\n    indexSection.style.marginBottom =   extraMargin + \"px\";\n    var offset = indexSection.clientHeight + extraMargin;\n    for(var i = 0; i < {{ messages.length }}; i++) {\n        var cardHeight = document.getElementById(\"card_\" + i).offsetHeight;\n        var page = Math.floor(offset / pageHeight) + 1;\n        document.getElementById(\"card_pagenum_\" + i).innerText = page;\n\n        offset += (cardHeight + 30 + 30)\n    }\n\n\n}\n\n\nfunction restyleFrames() {\n    var ifr;\n{{ #messages }}\n        ifr = document.getElementById(\"iframe_{{ index }}\");\n        ifr.contentWindow.document.documentElement.style.color = \"#fff\";\n        ifr.contentWindow.document.documentElement.style.fontSize = \"6pt\";\n{{ /messages }}\n        setTimeout(resizeFrames, 20);\n}\n\nfunction resizeFrames() {\n    var ifr;\n{{ #messages }}\n        ifr = document.getElementById(\"iframe_{{ index }}\");\n        ifr.style.height = ifr.contentWindow.document.documentElement.offsetHeight + \"px\";\n        ifr.contentWindow.document.documentElement.style.color = \"#fff\";\n        ifr.contentWindow.document.documentElement.style.fontSize = \"6pt\";\n{{ /messages }}\n        setTimeout(onLoad, 20);\n}\n\nfunction copyFrames() {\n    var ifr;\n{{ #messages }}\n        ifr = document.getElementById(\"iframe_{{ index }}\");\n        document.getElementById(\"content_{{ index }}\").innerHTML = ifr.contentWindow.document.documentElement.innerHTML\n        ifr.remove()\n{{ /messages }}\n        setTimeout(onLoad, 20);\n}\n\n\nwindow.addEventListener(\"load\", setTimeout(copyFrames, 20));\n\n\n</script>\n</body>\n\n\n{{/payload}}","output":"str","x":560,"y":260,"wires":[["b7e11c22.f0988"]]},{"id":"64461e.c06aa9e4","type":"inject","z":"44df2415.66f17c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["d6ca074a.f23018"]]},{"id":"638c32d4.6fcfbc","type":"file","z":"44df2415.66f17c","name":"","filename":"thisFile.pdf","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":910,"y":260,"wires":[[]]},{"id":"c539414d.dccf9","type":"debug","z":"44df2415.66f17c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":260,"wires":[]},{"id":"b7e11c22.f0988","type":"function","z":"44df2415.66f17c","name":"HTML-PDF","func":"const email = global.get('email2pdf');\n\n\nconst options = {\n                  format: 'A4',\n                  footer: {\n                      height: \"20px\"\n                  },\n                  header: {\n                      height: \"20px\"\n                  },\n                  renderDelay: 100\n              };\n              \nconst pdf = email.htmlPdf;\n\nvar send = function(err,res) {\n    if (err) {\n            node.error(err,msg);\n        } else {\n            msg.payload = res;\n            node.send(msg);\n        }\n};\n\npdf.create(msg.payload, options).toBuffer(function(err, buffer){\n    send(err,buffer);\n});\n\n//return msg;","outputs":1,"noerr":0,"x":750,"y":260,"wires":[["638c32d4.6fcfbc"]]},{"id":"d6ca074a.f23018","type":"function","z":"44df2415.66f17c","name":"Data","func":"const model = {\n    \"mailthread\": {\n        \"ThreadId\": \"1879054605\",\n        \"MailId\": \"1879054605\",\n        \"ApprovalStatus\": \"Approved\",\n        \"Attachments\": \"\",\n        \"Attribute1\": {\n            \"AttributeTypeNames\": \"\",\n            \"AttributeType\": \"PRIMARY_ATTRIBUTE\"\n        },\n        \"Attribute2\": {\n            \"AttributeTypeNames\": \"\",\n            \"AttributeType\": \"SECONDARY_ATTRIBUTE\"\n        },\n        \"Attribute3\": {\n            \"AttributeTypeNames\": \"\",\n            \"AttributeType\": \"THIRD_ATTRIBUTE\"\n        },\n        \"Attribute4\": {\n            \"AttributeTypeNames\": \"\",\n            \"AttributeType\": \"FOURTH_ATTRIBUTE\"\n        },\n        \"MailData\": \"<!DOCTYPE html PUBLIC \\\"-//W3C//DTD XHTML 1.0 Transitional//EN\\\" \\\"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\\\">\\n<html>\\n\\t<head>\\n\\t\\t<meta HTTP-EQUIV=\\\"Content-Type\\\" CONTENT=\\\"text/html; charset=utf-8\\\" /><title>\\n\\t\\t</title>\\n\\t\\t<style type=\\\"text/css\\\">\\n\\t\\t\\t.cs95E872D0{text-align:left;text-indent:0pt;margin:0pt 0pt 0pt 0pt}\\n\\t\\t\\t.csAED4B1C7{color:#000000;background-color:transparent;font-family:Verdana; font-size:10pt; font-weight:normal; font-style:normal; }\\n\\t\\t</style>\\n\\t</head>\\n\\t<body>\\n\\t\\t<span><p class=\\\"cs95E872D0\\\"><span class=\\\"csAED4B1C7\\\">&nbsp;</span></p></span></body>\\n</html>\\n\",\n        \"ConfidentialFlag\": false,\n        \"ProjectDetails\": {\n            \"address1\": \"Level 1\",\n            \"address2\": \"696 Bourke Street\",\n            \"address3\": \"\",\n            \"city\": \"Melbourne\",\n            \"country\": \"Australia\",\n            \"name\": \"API Demo\",\n            \"state\": \"\"\n        },\n        \"CorrespondenceType\": \"Request For Information\",\n        \"ToUsers\": {\n            \"Recipient\": [\n                {\n                    \"OrganizationId\": \"1879048492\",\n                    \"OrganizationName\": \"Majestic Builders\",\n                    \"Status\": \"Responded\",\n                    \"DistributionType\": \"TO\",\n                    \"FirstName\": \"Patrick\",\n                    \"Name\": \"Mr Patrick O'Leary\",\n                    \"UserId\": \"1879049107\",\n                    \"LastName\": \"O'Leary\"\n                },\n                {\n                    \"OrganizationId\": \"1879048240\",\n                    \"OrganizationName\": \"Aramist Consulting\",\n                    \"Status\": \"N/A\",\n                    \"DistributionType\": \"CC\",\n                    \"FirstName\": \"Daichi\",\n                    \"Name\": \"Mr Daichi Tomita\",\n                    \"UserId\": \"1879049364\",\n                    \"LastName\": \"Tomita\"\n                }\n            ]\n        },\n        \"MailNo\": \"MAJ-RFI-000001\",\n        \"Fax\": \"\",\n        \"Footer\": \"\",\n        \"FromUserDetails\": {\n            \"LogoPath\": {\n                \"href\": \"https://origin-apiprod.aconex.com/html/logos/aconex-stored/organization/0/2008-08-13-13-34-39-206.jpg\"\n            },\n            \"OrganizationId\": \"1879048492\",\n            \"OrganizationName\": \"Majestic Builders\",\n            \"FirstName\": \"Patrick\",\n            \"Name\": \"Mr Patrick O'Leary\",\n            \"UserId\": \"1879049107\",\n            \"LastName\": \"O'Leary\"\n        },\n        \"InRefToMailId\": \"1879054605\",\n        \"Notes\": \"\",\n        \"ProjectId\": \"1879048428\",\n        \"ReasonForIssue\": \"\",\n        \"MailRegistrationDetails\": {\n            \"IsRegistered\": \"true\"\n        },\n        \"ResponseRequired\": {\n            \"ResponseRequiredDate\": \"2012-09-27T12:58:03.750Z\",\n            \"ResponseRequiredMessage\": \"Revise and re-submit by\"\n        },\n        \"RichText\": \"true\",\n        \"SentDate\": \"2012-09-11T07:33:04.973Z\",\n        \"Status\": \"Responded\",\n        \"Subject\": \"testing in API Demo instance - outlook plugin\",\n        \"InRefTo\": \"1879054605\",\n        \"Replies\": [\n            {\n                \"MailId\": \"1879054635\",\n                \"ApprovalStatus\": \"Approved\",\n                \"Attachments\": {\n                    \"MailAttachment\": [\n                        {\n                            \"MailId\": \"1879054623\",\n                            \"FromName\": \" Nate Harrison\",\n                            \"FromOrg\": \"Majestic Builders\",\n                            \"MailNo\": \"MAJ-CAN-000004\",\n                            \"SentDate\": \"2012-09-12T07:47:47.707Z\",\n                            \"Subject\": \"Re: Hello Nate\"\n                        },\n                        {\n                            \"MailId\": \"1879054624\",\n                            \"FromName\": \" Nate Harrison\",\n                            \"FromOrg\": \"Majestic Builders\",\n                            \"MailNo\": \"MAJ-CAN-000005\",\n                            \"SentDate\": \"2012-09-12T07:47:48.977Z\",\n                            \"Subject\": \"Sending Mail \"\n                        },\n                        {\n                            \"MailId\": \"1879054628\",\n                            \"FromName\": \" Bhaskara Laxminarayan\",\n                            \"FromOrg\": \"Majestic Builders\",\n                            \"MailNo\": \"MAJ-RFI-000005\",\n                            \"SentDate\": \"2012-09-13T05:52:09.327Z\",\n                            \"Subject\": \"testing Mail Registration\"\n                        },\n                        {\n                            \"MailId\": \"1879054630\",\n                            \"FromName\": \" Nate Harrison\",\n                            \"FromOrg\": \"Majestic Builders\",\n                            \"MailNo\": \"MAJ-RFI-000006\",\n                            \"SentDate\": \"2012-09-13T05:54:24.903Z\",\n                            \"Subject\": \"Re: Hello Nate\"\n                        },\n                        {\n                            \"MailId\": \"1879054634\",\n                            \"FromName\": \" Bhaskara Laxminarayan\",\n                            \"FromOrg\": \"Majestic Builders\",\n                            \"MailNo\": \"MAJ-RFI-000008\",\n                            \"SentDate\": \"2012-09-13T09:21:14.813Z\",\n                            \"Subject\": \"testing mail registration in outlook plugin\"\n                        }\n                    ]\n                },\n                \"Attribute1\": {\n                    \"AttributeTypeNames\": \"\",\n                    \"AttributeType\": \"PRIMARY_ATTRIBUTE\"\n                },\n                \"Attribute2\": {\n                    \"AttributeTypeNames\": \"\",\n                    \"AttributeType\": \"SECONDARY_ATTRIBUTE\"\n                },\n                \"Attribute3\": {\n                    \"AttributeTypeNames\": \"\",\n                    \"AttributeType\": \"THIRD_ATTRIBUTE\"\n                },\n                \"Attribute4\": {\n                    \"AttributeTypeNames\": \"\",\n                    \"AttributeType\": \"FOURTH_ATTRIBUTE\"\n                },\n                \"MailData\": \"<p> <table style=\\\"width: 431.0pt;border-collapse: collapse;\\\" border=\\\"0\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" width=\\\"575\\\"> <colgroup> <col style=\\\"width: 30.0pt;\\\" width=\\\"40\\\" /> <col style=\\\"width: 71.0pt;\\\" width=\\\"95\\\" /> <col style=\\\"width: 330.0pt;\\\" width=\\\"440\\\" /> </colgroup><tbody> <tr style=\\\"height: 11.25pt;\\\" height=\\\"15\\\"> <td style=\\\"border: 0.5pt solid rgb(127,127,127);background-color: rgb(165,165,165);width: 431.0pt;height: 11.25pt;\\\" colspan=\\\"3\\\" height=\\\"15\\\" width=\\\"575\\\"><strong><font size=\\\"2\\\">Request For Information</font></strong></td></tr> <tr style=\\\"height: 11.25pt;\\\" height=\\\"15\\\"> <td style=\\\"border: 0.5pt solid rgb(127,127,127);background-color: silver;height: 11.25pt;\\\" colspan=\\\"3\\\" height=\\\"15\\\"><strong><font size=\\\"2\\\" color=\\\"#000066\\\">Details</font></strong></td></tr> <tr style=\\\"height: 45.0pt;\\\" height=\\\"60\\\"> <td style=\\\"border: 0.5pt solid rgb(127,127,127);background-color: transparent;width: 431.0pt;height: 45.0pt;\\\" colspan=\\\"3\\\" height=\\\"60\\\" width=\\\"575\\\"><font size=\\\"2\\\"><br /></font></td></tr> <t...\",\n                \"ConfidentialFlag\": false,\n                \"ProjectDetails\": {\n                    \"address1\": \"Level 1\",\n                    \"address2\": \"696 Bourke Street\",\n                    \"address3\": \"\",\n                    \"city\": \"Melbourne\",\n                    \"country\": \"Australia\",\n                    \"name\": \"API Demo\",\n                    \"state\": \"\"\n                },\n                \"CorrespondenceType\": \"Request For Information\",\n                \"ToUsers\": {\n                    \"Recipient\": [\n                        {\n                            \"OrganizationId\": \"1879048569\",\n                            \"OrganizationName\": \"Aconex\",\n                            \"Status\": \"Responded\",\n                            \"DistributionType\": \"TO\",\n                            \"FirstName\": \"Bhaskara\",\n                            \"Name\": \" Bhaskara Laxminarayan\",\n                            \"UserId\": \"1879049747\",\n                            \"LastName\": \"Laxminarayan\"\n                        },\n                        {\n                            \"OrganizationId\": \"1879048492\",\n                            \"OrganizationName\": \"Majestic Builders\",\n                            \"Status\": \"Responded\",\n                            \"DistributionType\": \"TO\",\n                            \"FirstName\": \"Bhaskara\",\n                            \"Name\": \" Bhaskara Laxminarayan\",\n                            \"UserId\": \"1879049757\",\n                            \"LastName\": \"Laxminarayan\"\n                        },\n                        {\n                            \"OrganizationId\": \"1879048492\",\n                            \"OrganizationName\": \"Majestic Builders\",\n                            \"Status\": \"Responded\",\n                            \"DistributionType\": \"TO\",\n                            \"FirstName\": \"Patrick\",\n                            \"Name\": \"Mr Patrick O'Leary\",\n                            \"UserId\": \"1879049107\",\n                            \"LastName\": \"O'Leary\"\n                        },\n                        {\n                            \"OrganizationId\": \"1879048240\",\n                            \"OrganizationName\": \"Aramist Consulting\",\n                            \"Status\": \"N/A\",\n                            \"DistributionType\": \"CC\",\n                            \"FirstName\": \"Daichi\",\n                            \"Name\": \"Mr Daichi Tomita\",\n                            \"UserId\": \"1879049364\",\n                            \"LastName\": \"Tomita\"\n                        }\n                    ]\n                },\n                \"MailNo\": \"pluginmail01\",\n                \"Fax\": \"61998316591\",\n                \"Footer\": \"\",\n                \"FromUserDetails\": {\n                    \"LogoPath\": {\n                        \"href\": \"https://origin-apiprod.aconex.com/html/logos/aconex-stored/organization/0/2008-08-13-13-34-39-206.jpg\"\n                    },\n                    \"OrganizationId\": \"1879048492\",\n                    \"OrganizationName\": \"Majestic Builders\",\n                    \"FirstName\": \"Patrick\",\n                    \"Name\": \"Mr Patrick O'Leary\",\n                    \"UserId\": \"1879049107\",\n                    \"LastName\": \"O'Leary\"\n                },\n                \"InRefToMailId\": \"1879054635\",\n                \"Notes\": \"\",\n                \"ProjectId\": \"1879048428\",\n                \"ReasonForIssue\": \"\",\n                \"MailRegistrationDetails\": {\n                    \"IsRegistered\": \"true\"\n                },\n                \"ResponseRequired\": {\n                    \"ResponseRequiredDate\": \"2012-09-20T14:00:00.000Z\",\n                    \"ResponseRequiredMessage\": \"Acknowledge by\"\n                },\n                \"RichText\": \"true\",\n                \"SentDate\": \"2012-09-13T09:24:12.533Z\",\n                \"Status\": \"Responded\",\n                \"Subject\": \"Re: testing in API Demo instance - outlook plugin\",\n                \"ThreadId\": \"1879054605\",\n                \"InRefTo\": \"1879054635\",\n                \"Replies\": [\n                    {\n                        \"MailId\": \"1879061589\",\n                        \"ApprovalStatus\": \"Don't Process\",\n                        \"Attachments\": \"\",\n                        \"Attribute1\": {\n                            \"AttributeTypeNames\": \"\",\n                            \"AttributeType\": \"PRIMARY_ATTRIBUTE\"\n                        },\n                        \"Attribute2\": {\n                            \"AttributeTypeNames\": \"\",\n                            \"AttributeType\": \"SECONDARY_ATTRIBUTE\"\n                        },\n                        \"Attribute3\": {\n                            \"AttributeTypeNames\": \"\",\n                            \"AttributeType\": \"THIRD_ATTRIBUTE\"\n                        },\n                        \"Attribute4\": {\n                            \"AttributeTypeNames\": \"\",\n                            \"AttributeType\": \"FOURTH_ATTRIBUTE\"\n                        },\n                        \"MailData\": \"<p>Hi,</p>\\n\\n<p> </p>\\n\\n<p>I feel that is is super important to test aconex Mail Services because they are super</p>\\n\\n<p> </p>\\n\\n<p>Donallllddddd Turnip</p>\\n\\n<table align=\\\"left\\\" border=\\\"1\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"border-width: medium;border-style: none;width: 360.0pt;border-collapse: collapse;\\\" width=\\\"480\\\">\\n\\t<tbody>\\n\\t\\t<tr style=\\\"HEIGHT: 38.5pt;\\\">\\n\\t\\t\\t<td style=\\\"border-width: medium 2.25pt medium medium;border-style: none solid none none;padding: 0.0cm 5.4pt;width: 126.0pt;height: 38.5pt;\\\" valign=\\\"top\\\" width=\\\"168\\\">\\n\\t\\t\\t<p style=\\\"\\\">Donallllddddd Turnip</p>\\n\\n\\t\\t\\t<p style=\\\"\\\"><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\">Senior Project Manager</span><b><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\"></span></b></p>\\n\\t\\t\\t</td>\\n\\t\\t\\t<td style=\\\"border-width: medium;border-style: none;padding: 0.0cm 5.4pt;width: 234.0pt;height: 38.5pt;\\\" width=\\\"312\\\">\\n\\t\\t\\t<p><b><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\">Majestic Builders </span></b></p>\\n\\n\\t\\t\\t<p><span style=\\\"FONT-STYLE: itali...\",\n                        \"ConfidentialFlag\": false,\n                        \"ProjectDetails\": {\n                            \"address1\": \"Level 1\",\n                            \"address2\": \"696 Bourke Street\",\n                            \"address3\": \"\",\n                            \"city\": \"Melbourne\",\n                            \"country\": \"Australia\",\n                            \"name\": \"API Demo\",\n                            \"state\": \"\"\n                        },\n                        \"CorrespondenceType\": \"Budget Enquiry\",\n                        \"ToUsers\": {\n                            \"Recipient\": {\n                                \"OrganizationId\": \"1879048569\",\n                                \"OrganizationName\": \"Aconex\",\n                                \"Status\": \"N/A\",\n                                \"DistributionType\": \"TO\",\n                                \"FirstName\": \"Bhaskara\",\n                                \"Name\": \" Bhaskara Laxminarayan\",\n                                \"UserId\": \"1879049747\",\n                                \"LastName\": \"Laxminarayan\"\n                            }\n                        },\n                        \"MailNo\": \"DRAFT-000015\",\n                        \"Fax\": \"61998316591\",\n                        \"Footer\": \"\",\n                        \"FromUserDetails\": {\n                            \"LogoPath\": {\n                                \"href\": \"https://origin-apiprod.aconex.com/html/logos/aconex-stored/organization/0/2008-08-13-13-34-39-206.jpg\"\n                            },\n                            \"OrganizationId\": \"1879048492\",\n                            \"OrganizationName\": \"Majestic Builders\",\n                            \"FirstName\": \"Patrick\",\n                            \"Name\": \"Mr Patrick O'Leary\",\n                            \"UserId\": \"1879049107\",\n                            \"LastName\": \"O'Leary\"\n                        },\n                        \"InRefToMailId\": \"1879054638\",\n                        \"Notes\": \"\",\n                        \"ProjectId\": \"1879048428\",\n                        \"ReasonForIssue\": \"\",\n                        \"MailRegistrationDetails\": {\n                            \"IsRegistered\": \"true\"\n                        },\n                        \"ResponseRequired\": \"\",\n                        \"RichText\": \"true\",\n                        \"SentDate\": \"2019-10-15T01:51:52.307Z\",\n                        \"Status\": \"N/A\",\n                        \"Subject\": \"Ultimate Testing in API Demo\",\n                        \"ThreadId\": \"1879054605\",\n                        \"InRefTo\": \"1879054638\",\n                        \"ReplyType\": \"REPLY\"\n                    },\n                    {\n                        \"MailId\": \"1879054660\",\n                        \"ApprovalStatus\": \"Approved\",\n                        \"Attachments\": {\n                            \"LocalFileAttachment\": [\n                                {\n                                    \"attachmentId\": \"1879095706\",\n                                    \"FileSize\": \"52939\",\n                                    \"FileName\": \"No_project_message.png\"\n                                },\n                                {\n                                    \"attachmentId\": \"1879095707\",\n                                    \"FileSize\": \"23637\",\n                                    \"FileName\": \"compilation-overview.png\"\n                                }\n                            ],\n                            \"MailAttachment\": [\n                                {\n                                    \"MailId\": \"1879054623\",\n                                    \"FromName\": \" Nate Harrison\",\n                                    \"FromOrg\": \"Majestic Builders\",\n                                    \"MailNo\": \"MAJ-CAN-000004\",\n                                    \"SentDate\": \"2012-09-12T07:47:47.707Z\",\n                                    \"Subject\": \"Re: Hello Nate\"\n                                },\n                                {\n                                    \"MailId\": \"1879054624\",\n                                    \"FromName\": \" Nate Harrison\",\n                                    \"FromOrg\": \"Majestic Builders\",\n                                    \"MailNo\": \"MAJ-CAN-000005\",\n                                    \"SentDate\": \"2012-09-12T07:47:48.977Z\",\n                                    \"Subject\": \"Sending Mail \"\n                                },\n                                {\n                                    \"MailId\": \"1879054628\",\n                                    \"FromName\": \" Bhaskara Laxminarayan\",\n                                    \"FromOrg\": \"Majestic Builders\",\n                                    \"MailNo\": \"MAJ-RFI-000005\",\n                                    \"SentDate\": \"2012-09-13T05:52:09.327Z\",\n                                    \"Subject\": \"testing Mail Registration\"\n                                },\n                                {\n                                    \"MailId\": \"1879054630\",\n                                    \"FromName\": \" Nate Harrison\",\n                                    \"FromOrg\": \"Majestic Builders\",\n                                    \"MailNo\": \"MAJ-RFI-000006\",\n                                    \"SentDate\": \"2012-09-13T05:54:24.903Z\",\n                                    \"Subject\": \"Re: Hello Nate\"\n                                },\n                                {\n                                    \"MailId\": \"1879054634\",\n                                    \"FromName\": \" Bhaskara Laxminarayan\",\n                                    \"FromOrg\": \"Majestic Builders\",\n                                    \"MailNo\": \"MAJ-RFI-000008\",\n                                    \"SentDate\": \"2012-09-13T09:21:14.813Z\",\n                                    \"Subject\": \"testing mail registration in outlook plugin\"\n                                }\n                            ]\n                        },\n                        \"Attribute1\": {\n                            \"AttributeTypeNames\": \"\",\n                            \"AttributeType\": \"PRIMARY_ATTRIBUTE\"\n                        },\n                        \"Attribute2\": {\n                            \"AttributeTypeNames\": \"\",\n                            \"AttributeType\": \"SECONDARY_ATTRIBUTE\"\n                        },\n                        \"Attribute3\": {\n                            \"AttributeTypeNames\": \"\",\n                            \"AttributeType\": \"THIRD_ATTRIBUTE\"\n                        },\n                        \"Attribute4\": {\n                            \"AttributeTypeNames\": \"\",\n                            \"AttributeType\": \"FOURTH_ATTRIBUTE\"\n                        },\n                        \"MailData\": \"<div><br></div>\\r\\n<div><br><br><br></div>\\r\\n<div align=\\\"left\\\">\\r\\n    <hr>\\r\\n    <font size=\\\"1\\\" face=\\\"Tahoma\\\">\\r\\n    <b>From:</b> P O'Leary<br>\\r\\n    <b>Sent:</b> 13/09/2012 7:24:12 PM EST (GMT +10:00)<br>\\r\\n    <b>To:</b> Bhaskara Laxminarayan, Bhaskara Laxminarayan, Patrick O'Leary<br>\\r\\n    <b>Cc:</b> Daichi Tomita<br>\\r\\n    <b>Mail Number:</b> pluginmail01<br>\\r\\n    <b>Subject:</b> Re: testing in API Demo instance - outlook plugin\\r\\n    <br><br><br>\\r\\n    </font>\\r\\n</div>\\r\\n\\r\\n<p> <table style=\\\"width: 431pt; border-collapse: collapse;\\\" border=\\\"0\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" width=\\\"575\\\"> <colgroup> <col style=\\\"width: 30pt;\\\" width=\\\"40\\\"> <col style=\\\"width: 71pt;\\\" width=\\\"95\\\"> <col style=\\\"width: 330pt;\\\" width=\\\"440\\\"> </colgroup><tbody> <tr style=\\\"height: 11.25pt;\\\" height=\\\"15\\\"> <td style=\\\"border: 0.5pt solid rgb(127, 127, 127); background-color: rgb(165, 165, 165); width: 431pt; height: 11.25pt;\\\" colspan=\\\"3\\\" height=\\\"15\\\" width=\\\"575\\\"><strong><font size=\\\"2\\\">Request For Information</font></strong></td></...\",\n                        \"ConfidentialFlag\": false,\n                        \"ProjectDetails\": {\n                            \"address1\": \"Level 1\",\n                            \"address2\": \"696 Bourke Street\",\n                            \"address3\": \"\",\n                            \"city\": \"Melbourne\",\n                            \"country\": \"Australia\",\n                            \"name\": \"API Demo\",\n                            \"state\": \"\"\n                        },\n                        \"CorrespondenceType\": \"Certificate of Completion\",\n                        \"ToUsers\": {\n                            \"Recipient\": [\n                                {\n                                    \"OrganizationId\": \"1879048492\",\n                                    \"OrganizationName\": \"Majestic Builders\",\n                                    \"Status\": \"Overdue\",\n                                    \"DistributionType\": \"TO\",\n                                    \"FirstName\": \"Testuser\",\n                                    \"Name\": \"Mr Testuser Testuser\",\n                                    \"UserId\": \"1879049759\",\n                                    \"LastName\": \"Testuser\"\n                                },\n                                {\n                                    \"OrganizationId\": \"1879048492\",\n                                    \"OrganizationName\": \"Majestic Builders\",\n                                    \"Status\": \"Overdue\",\n                                    \"DistributionType\": \"TO\",\n                                    \"FirstName\": \"Test1\",\n                                    \"Name\": \" Test1 User\",\n                                    \"UserId\": \"1879049754\",\n                                    \"LastName\": \"User\"\n                                },\n                                {\n                                    \"OrganizationId\": \"1879048617\",\n                                    \"OrganizationName\": \"TEST US\",\n                                    \"Status\": \"Overdue\",\n                                    \"DistributionType\": \"TO\",\n                                    \"FirstName\": \"Test1\",\n                                    \"Name\": \" Test1 US\",\n                                    \"UserId\": \"1879049741\",\n                                    \"LastName\": \"US\"\n                                },\n                                {\n                                    \"OrganizationId\": \"1879048617\",\n                                    \"OrganizationName\": \"TEST US\",\n                                    \"Status\": \"Overdue\",\n                                    \"DistributionType\": \"TO\",\n                                    \"FirstName\": \"Test2\",\n                                    \"Name\": \" Test2 US\",\n                                    \"UserId\": \"1879049739\",\n                                    \"LastName\": \"US\"\n                                },\n                                {\n                                    \"OrganizationId\": \"1879048618\",\n                                    \"OrganizationName\": \"TEST USER\",\n                                    \"Status\": \"Overdue\",\n                                    \"DistributionType\": \"TO\",\n                                    \"FirstName\": \"Test1\",\n                                    \"Name\": \" Test1 User\",\n                                    \"UserId\": \"1879049751\",\n                                    \"LastName\": \"User\"\n                                },\n                                {\n                                    \"OrganizationId\": \"1879048618\",\n                                    \"OrganizationName\": \"TEST USER\",\n                                    \"Status\": \"Overdue\",\n                                    \"DistributionType\": \"TO\",\n                                    \"FirstName\": \"Test2\",\n                                    \"Name\": \" Test2 User\",\n                                    \"UserId\": \"1879049752\",\n                                    \"LastName\": \"User\"\n                                }\n                            ]\n                        },\n                        \"MailNo\": \"MAJ-COC-000001\",\n                        \"Fax\": \"61998316591\",\n                        \"Footer\": \"\",\n                        \"FromUserDetails\": {\n                            \"LogoPath\": {\n                                \"href\": \"https://origin-apiprod.aconex.com/html/logos/aconex-stored/organization/0/2008-08-13-13-34-39-206.jpg\"\n                            },\n                            \"OrganizationId\": \"1879048492\",\n                            \"OrganizationName\": \"Majestic Builders\",\n                            \"FirstName\": \"Bhaskara\",\n                            \"Name\": \" Bhaskara Laxminarayan\",\n                            \"UserId\": \"1879049757\",\n                            \"LastName\": \"Laxminarayan\"\n                        },\n                        \"InRefToMailId\": \"1879054660\",\n                        \"Notes\": \"\",\n                        \"ProjectId\": \"1879048428\",\n                        \"ReasonForIssue\": \"\",\n                        \"MailRegistrationDetails\": {\n                            \"IsRegistered\": \"true\"\n                        },\n                        \"ResponseRequired\": {\n                            \"ResponseRequiredDate\": \"2012-09-20T14:00:00.000Z\",\n                            \"ResponseRequiredMessage\": \"Acknowledge by\"\n                        },\n                        \"RichText\": \"true\",\n                        \"SentDate\": \"2012-09-17T10:38:48.587Z\",\n                        \"Status\": \"Outstanding\",\n                        \"Subject\": \"Fwd: testing in API Demo instance - outlook plugin\",\n                        \"ThreadId\": \"1879054605\",\n                        \"InRefTo\": \"1879054660\",\n                        \"ReplyType\": \"FORWARD\"\n                    },\n                    {\n                        \"MailId\": \"1879054689\",\n                        \"ApprovalStatus\": \"Approved\",\n                        \"Attachments\": \"\",\n                        \"Attribute1\": {\n                            \"AttributeTypeNames\": \"\",\n                            \"AttributeType\": \"PRIMARY_ATTRIBUTE\"\n                        },\n                        \"Attribute2\": {\n                            \"AttributeTypeNames\": \"\",\n                            \"AttributeType\": \"SECONDARY_ATTRIBUTE\"\n                        },\n                        \"Attribute3\": {\n                            \"AttributeTypeNames\": \"\",\n                            \"AttributeType\": \"THIRD_ATTRIBUTE\"\n                        },\n                        \"Attribute4\": {\n                            \"AttributeTypeNames\": \"\",\n                            \"AttributeType\": \"FOURTH_ATTRIBUTE\"\n                        },\n                        \"MailData\": \"<!DOCTYPE html PUBLIC \\\"-//W3C//DTD XHTML 1.0 Transitional//EN\\\" \\\"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\\\">\\n<html>\\n\\t<head>\\n\\t\\t<meta HTTP-EQUIV=\\\"Content-Type\\\" CONTENT=\\\"text/html; charset=utf-8\\\" /><title>\\n\\t\\t</title>\\n\\t\\t<style type=\\\"text/css\\\">\\n\\t\\t\\t.cs95E872D0{text-align:left;text-indent:0pt;margin:0pt 0pt 0pt 0pt}\\n\\t\\t\\t.cs5EFED22F{color:#000000;background-color:transparent;font-family:Times New Roman; font-size:12pt; font-weight:normal; font-style:normal; }\\n\\t\\t\\t.cs2D2816FE{}\\n\\t\\t\\t.csCA9039AC{width:431pt;padding:0pt 0pt 0pt 0pt;background-color:#A5A5A5;border-top:1px #7F7F7F solid;border-right:1px #7F7F7F solid;border-bottom:1px #7F7F7F solid;border-left:1px #7F7F7F solid}\\n\\t\\t\\t.cs5AE30AD6{color:#000000;background-color:#A5A5A5;font-family:Times New Roman; font-size:10pt; font-weight:bold; font-style:normal; }\\n\\t\\t\\t.cs798299E8{padding:0pt 0pt 0pt 0pt;background-color:#C0C0C0;border-top:1px #7F7F7F solid;border-right:1px #7F7F7F solid;border-bottom:1px #7F7F7F solid;border-left:1px #7F7F7...\",\n                        \"ConfidentialFlag\": false,\n                        \"ProjectDetails\": {\n                            \"address1\": \"Level 1\",\n                            \"address2\": \"696 Bourke Street\",\n                            \"address3\": \"\",\n                            \"city\": \"Melbourne\",\n                            \"country\": \"Australia\",\n                            \"name\": \"API Demo\",\n                            \"state\": \"\"\n                        },\n                        \"CorrespondenceType\": \"Builder's Advice\",\n                        \"ToUsers\": {\n                            \"Recipient\": [\n                                {\n                                    \"OrganizationId\": \"1879048569\",\n                                    \"OrganizationName\": \"Aconex\",\n                                    \"Status\": \"N/A\",\n                                    \"DistributionType\": \"TO\",\n                                    \"FirstName\": \"Belinda\",\n                                    \"Name\": \" Belinda Dal Lago\",\n                                    \"UserId\": \"1879049743\",\n                                    \"LastName\": \"Dal Lago\"\n                                },\n                                {\n                                    \"OrganizationId\": \"1879048569\",\n                                    \"OrganizationName\": \"Aconex\",\n                                    \"Status\": \"N/A\",\n                                    \"DistributionType\": \"TO\",\n                                    \"FirstName\": \"Nate\",\n                                    \"Name\": \" Nate Harrison\",\n                                    \"UserId\": \"1879049745\",\n                                    \"LastName\": \"Harrison\"\n                                },\n                                {\n                                    \"OrganizationId\": \"1879048569\",\n                                    \"OrganizationName\": \"Aconex\",\n                                    \"Status\": \"N/A\",\n                                    \"DistributionType\": \"TO\",\n                                    \"FirstName\": \"Bhaskara\",\n                                    \"Name\": \" Bhaskara Laxminarayan\",\n                                    \"UserId\": \"1879049747\",\n                                    \"LastName\": \"Laxminarayan\"\n                                },\n                                {\n                                    \"OrganizationId\": \"1879048240\",\n                                    \"OrganizationName\": \"Aramist Consulting\",\n                                    \"Status\": \"N/A\",\n                                    \"DistributionType\": \"CC\",\n                                    \"FirstName\": \"Daichi\",\n                                    \"Name\": \"Mr Daichi Tomita\",\n                                    \"UserId\": \"1879049364\",\n                                    \"LastName\": \"Tomita\"\n                                }\n                            ]\n                        },\n                        \"MailNo\": \"MAJ-BA-000004\",\n                        \"Fax\": \"\",\n                        \"Footer\": \"\",\n                        \"FromUserDetails\": {\n                            \"LogoPath\": {\n                                \"href\": \"https://origin-apiprod.aconex.com/html/logos/aconex-stored/organization/0/2008-08-13-13-34-39-206.jpg\"\n                            },\n                            \"OrganizationId\": \"1879048492\",\n                            \"OrganizationName\": \"Majestic Builders\",\n                            \"FirstName\": \"Patrick\",\n                            \"Name\": \"Mr Patrick O'Leary\",\n                            \"UserId\": \"1879049107\",\n                            \"LastName\": \"O'Leary\"\n                        },\n                        \"InRefToMailId\": \"1879054635\",\n                        \"Notes\": \"\",\n                        \"ProjectId\": \"1879048428\",\n                        \"ReasonForIssue\": \"\",\n                        \"MailRegistrationDetails\": {\n                            \"IsRegistered\": \"true\"\n                        },\n                        \"ResponseRequired\": \"\",\n                        \"RichText\": \"true\",\n                        \"SentDate\": \"2012-09-18T22:44:44.017Z\",\n                        \"Status\": \"N/A\",\n                        \"Subject\": \"RE: Re: testing in API Demo instance - outlook plugin\",\n                        \"ThreadId\": \"1879054605\",\n                        \"InRefTo\": \"1879054635\",\n                        \"ReplyType\": \"REPLY\"\n                    }\n                ],\n                \"ReplyType\": \"REPLY\"\n            },\n            {\n                \"MailId\": \"1879054666\",\n                \"ApprovalStatus\": \"Approved\",\n                \"Attachments\": \"\",\n                \"Attribute1\": {\n                    \"AttributeTypeNames\": {\n                        \"AttributeTypeName\": [\n                            {},\n                            {}\n                        ]\n                    },\n                    \"AttributeType\": \"PRIMARY_ATTRIBUTE\"\n                },\n                \"Attribute2\": {\n                    \"AttributeTypeNames\": \"\",\n                    \"AttributeType\": \"SECONDARY_ATTRIBUTE\"\n                },\n                \"Attribute3\": {\n                    \"AttributeTypeNames\": \"\",\n                    \"AttributeType\": \"THIRD_ATTRIBUTE\"\n                },\n                \"Attribute4\": {\n                    \"AttributeTypeNames\": \"\",\n                    \"AttributeType\": \"FOURTH_ATTRIBUTE\"\n                },\n                \"MailData\": \"<!DOCTYPE html PUBLIC \\\"-//W3C//DTD XHTML 1.0 Transitional//EN\\\" \\\"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\\\">\\n<html>\\n\\t<head>\\n\\t\\t<meta HTTP-EQUIV=\\\"Content-Type\\\" CONTENT=\\\"text/html; charset=utf-8\\\" /><title>\\n\\t\\t</title>\\n\\t\\t<style type=\\\"text/css\\\">\\n\\t\\t\\t.cs95E872D0{text-align:left;text-indent:0pt;margin:0pt 0pt 0pt 0pt}\\n\\t\\t\\t.cs5EFED22F{color:#000000;background-color:transparent;font-family:Times New Roman; font-size:12pt; font-weight:normal; font-style:normal; }\\n\\t\\t\\t.csAED4B1C7{color:#000000;background-color:transparent;font-family:Verdana; font-size:10pt; font-weight:normal; font-style:normal; }\\n\\t\\t</style>\\n\\t</head>\\n\\t<body>\\n\\t\\t<span><p class=\\\"cs95E872D0\\\"><span class=\\\"cs5EFED22F\\\">REPLYING TO RFI <br></span></p><p class=\\\"cs95E872D0\\\"><span class=\\\"cs5EFED22F\\\">-------Original Message-------</span></p><p class=\\\"cs95E872D0\\\"><span class=\\\"csAED4B1C7\\\">&nbsp;</span></p></span></body>\\n</html>\\n\",\n                \"ConfidentialFlag\": false,\n                \"ProjectDetails\": {\n                    \"address1\": \"Level 1\",\n                    \"address2\": \"696 Bourke Street\",\n                    \"address3\": \"\",\n                    \"city\": \"Melbourne\",\n                    \"country\": \"Australia\",\n                    \"name\": \"API Demo\",\n                    \"state\": \"\"\n                },\n                \"CorrespondenceType\": \"Builder's Advice\",\n                \"ToUsers\": {\n                    \"Recipient\": {\n                        \"OrganizationId\": \"1879048492\",\n                        \"OrganizationName\": \"Majestic Builders\",\n                        \"Status\": \"N/A\",\n                        \"DistributionType\": \"TO\",\n                        \"FirstName\": \"Patrick\",\n                        \"Name\": \"Mr Patrick O'Leary\",\n                        \"UserId\": \"1879049107\",\n                        \"LastName\": \"O'Leary\"\n                    }\n                },\n                \"MailNo\": \"MAJ-BA-000002\",\n                \"Fax\": \"\",\n                \"Footer\": \"\",\n                \"FromUserDetails\": {\n                    \"LogoPath\": {\n                        \"href\": \"https://origin-apiprod.aconex.com/html/logos/aconex-stored/organization/0/2008-08-13-13-34-39-206.jpg\"\n                    },\n                    \"OrganizationId\": \"1879048492\",\n                    \"OrganizationName\": \"Majestic Builders\",\n                    \"FirstName\": \"Patrick\",\n                    \"Name\": \"Mr Patrick O'Leary\",\n                    \"UserId\": \"1879049107\",\n                    \"LastName\": \"O'Leary\"\n                },\n                \"InRefToMailId\": \"1879054605\",\n                \"Notes\": \"\",\n                \"ProjectId\": \"1879048428\",\n                \"ReasonForIssue\": \"\",\n                \"MailRegistrationDetails\": {\n                    \"IsRegistered\": \"true\"\n                },\n                \"ResponseRequired\": \"\",\n                \"RichText\": \"true\",\n                \"SentDate\": \"2012-09-18T01:10:11.650Z\",\n                \"Status\": \"N/A\",\n                \"Subject\": \"RE: testing in API Demo instance - outlook plugin\",\n                \"ThreadId\": \"1879054605\",\n                \"InRefTo\": \"1879054605\",\n                \"ReplyType\": \"REPLY\"\n            },\n            {\n                \"MailId\": \"1879061583\",\n                \"ApprovalStatus\": \"Approved\",\n                \"Attachments\": \"\",\n                \"Attribute1\": {\n                    \"AttributeTypeNames\": {\n                        \"AttributeTypeName\": \"Side\"\n                    },\n                    \"AttributeType\": \"PRIMARY_ATTRIBUTE\"\n                },\n                \"Attribute2\": {\n                    \"AttributeTypeNames\": \"\",\n                    \"AttributeType\": \"SECONDARY_ATTRIBUTE\"\n                },\n                \"Attribute3\": {\n                    \"AttributeTypeNames\": \"\",\n                    \"AttributeType\": \"THIRD_ATTRIBUTE\"\n                },\n                \"Attribute4\": {\n                    \"AttributeTypeNames\": \"\",\n                    \"AttributeType\": \"FOURTH_ATTRIBUTE\"\n                },\n                \"MailData\": \"<p> </p>\\n\\n<table align=\\\"left\\\" border=\\\"1\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"BORDER-BOTTOM: medium none;BORDER-LEFT: medium none;WIDTH: 360.0pt;BORDER-COLLAPSE: collapse;BORDER-TOP: medium none;BORDER-RIGHT: medium none;\\\" width=\\\"480\\\">\\n\\t<tbody>\\n\\t\\t<tr style=\\\"HEIGHT: 38.5pt;\\\">\\n\\t\\t\\t<td style=\\\"BORDER-BOTTOM: medium none;BORDER-LEFT: medium none;PADDING-BOTTOM: 0.0cm;PADDING-LEFT: 5.4pt;WIDTH: 126.0pt;PADDING-RIGHT: 5.4pt;HEIGHT: 38.5pt;BORDER-TOP: medium none;BORDER-RIGHT: 2.25pt solid;PADDING-TOP: 0.0cm;\\\" valign=\\\"top\\\" width=\\\"168\\\">\\n\\t\\t\\t<p style=\\\"\\\"><b><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\">Patrick O'Leary</span></b><b><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\"> </span></b></p>\\n\\n\\t\\t\\t<p style=\\\"\\\"><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\">Senior Project Manager</span><b><span style=\\\"FONT-FAMILY: Arial;FONT-SIZE: 10.0pt;\\\"></span></b></p>\\n\\t\\t\\t</td>\\n\\t\\t\\t<td style=\\\"BORDER-BOTTOM: medium none;BORDER-LEFT: medium none;PADDING-BOTTOM: 0.0cm;PADDING-LEFT: 5.4pt;WIDTH: 234.0...\",\n                \"ConfidentialFlag\": false,\n                \"ProjectDetails\": {\n                    \"address1\": \"Level 1\",\n                    \"address2\": \"696 Bourke Street\",\n                    \"address3\": \"\",\n                    \"city\": \"Melbourne\",\n                    \"country\": \"Australia\",\n                    \"name\": \"API Demo\",\n                    \"state\": \"\"\n                },\n                \"CorrespondenceType\": \"Purchaser Change Details\",\n                \"ToUsers\": {\n                    \"Recipient\": {\n                        \"OrganizationId\": \"1879048492\",\n                        \"OrganizationName\": \"Majestic Builders\",\n                        \"Status\": \"N/A\",\n                        \"DistributionType\": \"TO\",\n                        \"FirstName\": \"Patrick\",\n                        \"Name\": \"Mr Patrick O'Leary\",\n                        \"UserId\": \"1879049107\",\n                        \"LastName\": \"O'Leary\"\n                    }\n                },\n                \"MailNo\": \"ACO-PCD-000001\",\n                \"Fax\": \"61998316591\",\n                \"Footer\": \"\",\n                \"FromUserDetails\": {\n                    \"OrganizationId\": \"1879048569\",\n                    \"OrganizationName\": \"Aconex\",\n                    \"FirstName\": \"Belinda\",\n                    \"Name\": \" Belinda Dal Lago\",\n                    \"UserId\": \"1879049743\",\n                    \"LastName\": \"Dal Lago\"\n                },\n                \"InRefToMailId\": \"1879054605\",\n                \"Notes\": \"\",\n                \"ProjectId\": \"1879048428\",\n                \"ReasonForIssue\": \"\",\n                \"MailRegistrationDetails\": {\n                    \"IsRegistered\": \"true\",\n                    \"RegisteredByUserFullName\": \"Mr Patrick O'Leary\",\n                    \"RegisteredByUserId\": \"1879049107\"\n                },\n                \"ResponseRequired\": \"\",\n                \"RichText\": \"true\",\n                \"SentDate\": \"2019-08-14T10:25:42.290Z\",\n                \"Status\": \"N/A\",\n                \"Subject\": \"Re: testing in API Demo instance\",\n                \"ThreadId\": \"1879054605\",\n                \"InRefTo\": \"1879054605\",\n                \"ReplyType\": \"REPLY\"\n            }\n        ],\n        \"ReplyType\": \"NEVER_RESPONDED\"\n    }\n}\n\nmsg.payload = model;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["de82aa1.9b07b58"]]}]